In [85]:
# Importamos las librerías necesarias para nuestro código
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
plt.rcParams.update({'font.size': 13})

In [86]:
#Leemos el archivo 
df0 = pd.read_csv("vid.dat")

In [87]:
#Creamos una columna para la fecha como variable date
df0['TIMESTAMP'] = pd.to_datetime(df0.apply(lambda x: x['TIMESTAMP'], 1), dayfirst=True)

In [88]:
#seleccionamos solo las columnas que nos interesan
df0 = df0.rename(columns={'TIMESTAMP': 'Fecha','AirTC_Avg':'TempA'})

In [89]:
df0=df0[(df0['Fecha']>'2018-11-1')]

In [90]:
#Creamos una columna para el número de mes y de año, respectivamente
df0['HORA']=df0['Fecha'].dt.hour

In [91]:
df=df0[['Fecha', 'TempA', 'HORA']]

In [106]:
df.head(7)

                    Fecha  TempA  HORA
24936 2018-11-01 00:10:00   8.89     0
24937 2018-11-01 00:20:00   8.66     0
24938 2018-11-01 00:30:00   8.52     0
24939 2018-11-01 00:40:00   8.47     0
24940 2018-11-01 00:50:00   8.58     0
24941 2018-11-01 01:00:00   8.56     1
24942 2018-11-01 01:10:00   8.32     1

In [113]:
df1 = df.groupby([df0['Fecha'].dt.year,df['Fecha'].dt.month,df['Fecha'].dt.day,df['Fecha'].dt.hour]).mean()

In [114]:
df.head()

                    Fecha  TempA  HORA
24936 2018-11-01 00:10:00   8.89     0
24937 2018-11-01 00:20:00   8.66     0
24938 2018-11-01 00:30:00   8.52     0
24939 2018-11-01 00:40:00   8.47     0
24940 2018-11-01 00:50:00   8.58     0

In [95]:
df_0=df1.TempA[df1.TempA < 1.4]
df_0.count()
#df_0.count()

2

In [96]:
df_1=df1[df1.TempA >= 1.5]
df_2=df_1.TempA[df_1.TempA <= 2.4].count()
df_2

4

In [97]:
df_3=df1[df1.TempA >= 2.5]
df_4=df_3.TempA[df_3.TempA <= 9.1].count()
df_4

270

In [98]:
df_5=df1[df1.TempA >= 9.2]
df_6=df_5.TempA[df_5.TempA <= 12.4].count()
df_6

328

In [99]:
df_7=df1[df1.TempA >= 12.5]
df_8=df_7.TempA[df_7.TempA <= 15.9].count()
df_8

227

In [100]:
df_9=df1[df1.TempA >= 16]
df_10=df_9.TempA[df_9.TempA <= 18].count()
df_10

109

In [101]:
df_11=df1.TempA[df1.TempA > 18].count()
df_11

528

In [102]:
df_2 * 0.5 + (df_4*1)+(df_6*0.5)+(df_8*0)+(df_10*-0.5)+(df_11*-1)

-146.5

In [103]:
df1['Tmin'] = df['TempA'].groupby([df['Fecha'].dt.year,df['Fecha'].dt.day,df['Fecha'].dt.hour]).min()
df1['Tmax'] = df['TempA'].groupby([df['Fecha'].dt.year,df['Fecha'].dt.day,df['Fecha'].dt.hour]).max()

In [104]:
df1

                       TempA  HORA    Tmin    Tmax
Fecha Fecha Fecha
2018  1     0       8.172091     0   7.271   8.890
            1       7.921333     1   6.962   9.110
            2       8.620917     2   7.971   8.840
            3       7.851750     3   6.475   9.210
            4       7.115917     4   6.410   7.924
            5       6.933833     5   6.331   7.447
            6       7.040000     6   6.096   7.820
            7       8.316167     7   6.125  11.150
            8      13.579167     8  10.360  17.260
            9      17.909167     9  14.390  21.440
            10     21.347500    10  19.350  23.010
            11     22.830000    11  21.440  24.800
            12     23.822500    12  21.950  25.870
            13     24.878333    13  23.150  26.740
            14     25.394167    14  23.230  27.790
            15     25.464167    15  22.410  28.630
            16     25.311667    16  21.350  29.330
            17     23.345000    17  17.490  29.580
            18     16.582500    18  15.240  19.870
            19     14.623333    19  13.540  15.700
            20     13.042500    20  11.510  14.570
            21     11.723333    21   9.760  13.670
            22     10.872500    22   9.410  12.960
            23     10.301667    23   9.290  11.240
      2     0       9.890000     0   8.990  10.790
            1       9.736667     1   9.000  10.260
            2      10.052500     2   9.200  10.830
            3      10.477500     3   8.800  12.330
            4      10.124667     4   7.576  13.650
            5       9.946583     5   7.698  13.570
...                      ...   ...     ...     ...
2019  30    18     20.758333    18  19.400  22.140
            19     18.138333    19  16.770  19.370
            20     15.325000    20  13.980  16.410
            21     12.798333    21  12.620  13.270
            22     12.360000    22  11.900  13.370
            23     10.158333    23   9.470  10.930
      31    0       9.645000     0   9.290  10.340
            1      10.441667     1  10.280  10.720
            2       9.476667     2   8.540  10.360
            3       8.262667     3   7.896   8.600
            4       8.405500     4   7.963   8.920
            5      10.121667     5   9.650  10.440
            6       9.488333     6   9.320   9.610
            7      10.091667     7   9.330  10.510
            8      13.101667     8  11.050  15.240
            9      17.608333     9  16.030  19.070
            10     20.263333    10  19.370  21.080
            11     22.021667    11  21.500  22.700
            12     23.616667    12  22.980  24.280
            13     24.563333    13  24.230  24.800
            14     24.906667    14  24.720  25.120
            15     24.670000    15  24.330  25.030
            16     24.036667    16  23.660  24.340
            17     22.241667    17  21.060  23.520
            18     19.620000    18  18.720  20.550
            19     17.620000    19  16.860  18.380
            20     15.853333    20  15.190  16.570
            21     14.243333    21  13.400  15.020
            22     13.448333    22  12.740  14.080
            23     12.528333    23  12.260  12.670

[1488 rows x 4 columns]

In [105]:
fig = plt.figure(figsize=(8,5))

df1.groupby(df1['Fecha'].dt.month)['Tmin'].mean().plot(kind = 'line', legend = 'Reverse')
df1.groupby(df1['Fecha'].dt.month)['Tmax'].mean().plot(kind = 'line', legend = 'Reverse')
plt.title('Temperaturas Promedio Máxima y Mínima en Función del Tiempo')
plt.ylabel('Temperatura (°C)')
plt.xlabel('Fecha (Mes)')

KeyError: 'Fecha'